{{!-- @formatter:off --}}
{{> templates/fragment/file_header}}
package {{this.usedPackage}};

{{#each this.imports}}
import {{this}};
{{/each}}

/**
 * Interface of JSON-LD node.
 * <p>
 * JSON-LD is a lightweight syntax to serialize Linked Data in JSON.
 *
 * @see <a href="https://json-ld.org/spec/latest/json-ld/#basic-concepts">Basic Concepts</a>)
 */
public interface JsonLdNode {

    String getType();

    String getContext();

    void setContext(final String value);

    String getId();

    void setId(final String value);
}